.view{
    list-style-type:none;
    width:200px;
    position:relative;
}
.number{
    width:50px;
    height:50px;
    border:1px solid silver;
    float:left;
    margin:5px;
    text-align:center;
    line-height:50px;
}

.number.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 transition: 1s linear all; /* All other modern browsers and IE10+ */
 opacity: 0;
 font-size:1em;
}
.number.ng-enter.ng-enter-active { 
 opacity: 1;
 font-size:2em;
}
.number.ng-leave { 
 -webkit-transition: 1.5s ease-out all;
 transition: 1.5s ease-out all;
}
.number.ng-leave-active {
 opacity: 0;  
 height:0px;
}