﻿<!DOCTYPE html>
<html>
<head>
	<title>Vraag 2</title>

	<link href="css/app.css" rel="stylesheet" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<script src="js/angular.js"></script>
	<script src="js/angular-animate.js"></script>

</head>
<body ng-app="myApp">
<div class="container" ng-controller="nummerController as nummerCtrl">
	<div >
		<p>Genereren van getallen</p>
		<button ng-click="nummerCtrl.nieuwNummer()">Nieuw nummer</button>
		<button ng-click="nummerCtrl.verwijderNummer()">Verwijder nummer</button>
		<div class="view" ng-repeat="nummer in nummerCtrl.nummers">
			<div class="number">{{ nummer }}</div>
		</div>
	</div>
</div>
<script src="app/app.js"></script>
<script src="controllers/nummerController.js"></script>
</body>
</html>
