<div class="fm-customer-bkg img-rounded">
</div>

<br/><br/><br/>
<form class="form-horizontal" name="klantform" novalidate>
  <div class="modal">
    <div class="modal-header">
      <h3>Aanmelden</h3>
    </div>
    <div class="modal-body">

      <div class="control-group">
        <label class="control-label" for="klantnaam">Gebruikersnaam</label>
        <div class="controls">
          <input ng-model="aanmeldCtrl.gebruikersnaam" type="text" id="klantnaam" class="input-medium"
                 required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="leveringsadres">Leveringsadres</label>
        <div class="controls">
          <input ng-model="aanmeldCtrl.leveringsadres" type="text" id="leveringsadres" class="input-large"
                 required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="Telefoon">Tel/Gsm</label>
        <div class="controls">
          <input ng-model="aanmeldCtrl.telefoon" type="text" id="telefoon" class="input-medium" required>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input ng-click="aanmeldCtrl.setAanmeldgegevens()" type="button" id="registreren" value="Registreren">
        </div>
      </div>

    </div>

  </div>
</form> 