<div class="hero-unit">
  <h1>Bedankt voor uw bestelling</h1>
  <p>Uw maaltijd wordt met de grootste zorg bereid. U mag deze snel verwachten.</p>
  <p>Uw ordernummer is {{ bedanktCtrl.orderId }}</p>
</div>
