  <div class="container fm-restaurant">
  <div class="row">
    <div class="span2">
      <img alt="afbeelding van het gekozen restaurant" ng-src="img/restaurants/{{menuCtrl.restaurant.id}}.PNG" class="img-rounded">
    </div>
    <div class="span10">
      <h3>{{ menuCtrl.restaurant.naam }}</h3>

      <div class="row">
        <div class="span2">
          <div>{{ menuCtrl.restaurant.keuken }}</div>
        </div>
        <div class="span4">
          <div>{{ menuCtrl.restaurant.beschrijving }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 fm-panel fm-menu-list">
    <h4>Menu</h4>
    <ul>
      <li ng-repeat="gerecht in menuCtrl.menu">
        <a ng-click="menuCtrl.gerechtGekozen(gerecht)" href="">
          <span><img ng-src="img/menus/{{gerecht.id}}.PNG" alt="afbeelding vh gerecht" class="img-rounded"></span>
		  <span>{{ gerecht.menu}}</span>
          <span>{{ gerecht.prijs }}</span>
          <i class="icon-plus-sign"></i>
        </a>
      </li>
	  
    </ul>

  </div>

  <div class="span6 fm-panel fm-cart">
    <h4>Uw bestelling</h4>
    <form>
      <ul class="unstyled">
        <li ng-repeat="gekozenGerecht in menuCtrl.gekozenGerechten">
          <a ng-click="menuCtrl.verminderAantal(gekozenGerecht)" href=""><i class="icon-remove-sign"></i></a>
          <input type="number" value="{{ gekozenGerecht.aantal }}"> &times; {{ gekozenGerecht.menu }}
        </li>		
      </ul>
      <div class="pull-right">
        <a ng-href="#!/shoppingcart" class="btn">Checkout</a>
      </div>
      <p>
        <b>Totaal: {{ menuCtrl.totaalprijs }} Euro</b>
      </p>
    </form>
  </div>
</div>  