<div class="row-fluid">

    <div class="span3 fm-panel">
        <h4>Selectie Restaurants</h4>

        <form>
            <h5>Keuken</h5>
            <div>
                <label class="checkbox"><input type="checkbox"> Afrikaans</label>
                <label class="checkbox"><input type="checkbox"> Frans</label>
                <label class="checkbox"><input type="checkbox"> Italiaans</label>
                <label class="checkbox"><input type="checkbox"> Chinees</label>
            </div>

            <!-- TODO: filter op type! -->

        </form>

    </div>

    <div class="span9 fm-panel">
        <table class="table table-hover table-striped">
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Beoordeling</th>
            </tr>
            <tr ng-repeat="restaurant in restaurantCtrl.restaurants">
                <td><img ng-src="img/restaurants/{{restaurant.id}}.PNG"/></td>
                <td>
                    <a ng-click="restaurantCtrl.setRestaurant(restaurant)" ng-href="#!/menu"><b>{{ restaurant.naam }}</b></a>
                    <p>{{ restaurant.beschrijving }}</p>
                    <p>{{ restaurant.keuken }}</p>
                </td>
                <td><img ng-src="img/restaurants/rate_{{restaurant.rating}}.PNG"/></td>
            </tr>

        </table>
    </div>
</div>