  <form name="form">
  <div class="container fm-panel fm-checkout">
    <h4>Menu</h4>

    <div class="row">
      <div class="span6">
        <h5>Leveradres:</h5>
        <div>{{ shoppingcartCtrl.persoongegevens.gebruikersnaam }}</div>
        <div>{{ shoppingcartCtrl.persoongegevens.leveringsadres }}</div>
        
      </div>
      <div class="span6">
        <h5>Betaling:</h5>
        <div class="control-group">
          <select name="ccType" class="input-medium" required>
            <option value="visa">Visa</option>
            <option value="mc">MasterCard</option>
            <option value="amex">Amex</option>
            <option value="discover">Discover</option>
          </select>
        </div>
        <div class="control-group">
          <input type="text" name="ccNum"
                 placeholder="Card number"
                 maxlength="16"
                 required ng-pattern="/\d{16}/">
        </div>
        <span class="control-group">
          <input type="text" name="ccExp" placeholder="mm/yyyy" class="input-medium"
                 maxlength="16"
                 required ng-pattern="/\d\d\/\d\d\d\d/">
        </span>
        <span class="control-group">
          <input type="text" name="ccCvc" placeholder="CVC" class="input-small"
                 maxlength="4"
                 required ng-pattern="/\d{3,4}/">
        </span>
      </div>
    </div>

    <div>
      <table class="table table-hover table-striped">
        <tr>
          <th>Aantal</th>
          <th>Omschrijving</th>
          <th>Prijs</th>
          <th>SubTotaal</th>
        </tr>
        <tr ng-repeat="gerecht in shoppingcartCtrl.gerechten">
          <td><input type="number"></td>
          <td>{{ gerecht.menu }}</td>
          <td>&euro; {{ gerecht.prijs }}</td>
          <td>&euro; {{ gerecht.prijs * gerecht.aantal }}</td>
        </tr>				
        <tr>
          <th></th>
          <th></th>
          <th>Totaal:</th>
          <th>&euro; {{ shoppingcartCtrl.totaalprijs }}</th>
          <th></th>
        </tr>
      </table>

      <div class="fm-right">
        <a ng-href="#!/menu" class="btn">Terug naar het Menu</a>
        <a ng-click="shoppingcartCtrl.maakLeeg()" href="" class="btn btn-danger">Maak shoppingcard leeg</a>
        <a ng-href="#!/bedankt"><button class="btn btn-primary">Aankoop bevestigen</button></a>
      </div>
    </div>
  </div>
</form>  