<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Voorbeelden Values en Constants</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<!-- Bekijk 0505_myController.js, hierin worden Globals toegekend
	 en ook een Value. Deze worden hieronder opgeroepen. -->
<div class="container" ng-controller="myController as myCtrl">
	<h1>Werken met Constants</h1>

	<div class="jumbotron">

		<h2>Applicatienaam: {{ myCtrl.appNaam }}</h2>

		<h3>Versie: {{ myCtrl.appVersie }}</h3>

	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut autem, consectetur, corporis dolorum
		ducimus ea eveniet expedita impedit molestiae nisi non omnis pariatur quaerat ratione, rem sit suscipit
		temporibus.</p>
	<a ng-href="#" class="btn btn-primary">{{ myCtrl.isIngelogd }}</a>

	<hr />

	<footer>
		<!-- Hier wordt de Value gebruikt. -->
		<h4>Dit is een value : (C) 2017 - {{ myCtrl.naamVanBedrijf }}</h4>
	</footer>
</div>

<!-- node_modules scripts-->
<script src="../../node_modules/angular-route/angular-route.js"></script>

<!-- Custom scripts -->
<script src="app/0503_app.js"></script>
<!-- Controllers -->
<script src="services/0505_appConstants.js"></script>
<script src="services/0505_appValue.js"></script>
<script src="controllers/0505_myController.js"></script>

</body>
</html>