div {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.head, .content, .footer {
    width: 240px;
    padding: 5px;
    border: 2px solid;
}
.head {
    cursor: pointer;
    background-color: #a5fb88;
    /*border-bottom: none;*/
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.content {
    border-top: none;
    border-bottom: none;
}
.footer {
    background-color: #3ac1ff;
    border-top: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}