﻿<div>
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen. -->
	<ul>
		<!-- Het is hier homeCtrl.personen aangezien we via de API van de Factory
		     de 'lijstMetPersonen' opvragen en deze toekennen aan 'vm.personen'. -->
		<li ng-repeat="persoon in homeCtrl.personen">
				{{ persoon.id}} - {{ persoon.voornaam }} {{ persoon.achternaam }}
		</li>
	</ul>
</div>
