﻿<style>
  input{
    margin-bottom: 10px;
  }
</style>
<div>
	<div class="jumbotron">
		<h1>
			Nieuwe persoon toevoegen</h1>
		<!-- 2. Details per persoon -->
		<input type="text" ng-model="addCtrl.persoon.voornaam" class="input-lg" placeholder="voornaam"/><br />
		<input type="text" ng-model="addCtrl.persoon.achternaam" class="input-lg" placeholder="achternaam"/> <br />
		<input type="text" ng-model="addCtrl.persoon.leeftijd" class="input-lg" placeholder="leeftijd"/><br />
		<input type="email" ng-model="addCtrl.persoon.email" class="input-lg" placeholder="e-mailadres"/><br />

		<a ng-click="addCtrl.addPersoon()" class="btn btn-lg btn-primary">Toevoegen</a>

	</div>
	<hr/>
	<a ng-href="#!/home" class="btn btn-lg btn-warning">Annuleren</a>
</div>
