﻿<div>
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen -->
	<ul>
		<li ng-repeat="persoon in homeCtrl.personen">
			<!-- Hier wordt het ID dynamisch toegevoegd, afhankelijk van welke persoon aangeklikt is. -->
			<a ng-href="#!/detail/{{persoon.id}}">
				{{persoon.id }} - {{ persoon.voornaam }} {{ persoon.achternaam }}
			</a>
		</li>
	</ul>
	<!-- Wanneer we op de knop klikken, gaan we naar de /add route. Deze zal 0503_add.html inladen. -->
	<a ng-href="#!/add" class="btn btn-primary">Persoon toevoegen</a>
</div>
