<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Oefening 1</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container" ng-controller="myController">
    <h1>Sorteren</h1>
    <p>
        <input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
    </p>
    <table style="width:50%">
        <tr>
            <th>Foto</th>
            <th>Naam</th>
        </tr>
        <tr ng-repeat="person in persons | orderBy : 'name' :reversed">
            <td><img width="250px" src="{{ person.picture }}"/></td>
            <td>{{ person.name }}</td>
        </tr>
    </table>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // ...eigen script
    var app = angular.module('myApp', []);
    app.controller('myController',
            function ($scope) {
                $scope.persons = [{'name' : 'Jeroen', 'picture' :'https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-1/c0.29.240.240/p240x240/1904084_537773156341385_837165498_n.jpg?oh=a75f49604d188b2785c08bdd34d298f1&oe=58FD172F'},
                    {'name' : 'Evi', 'picture' :'https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/1970499_765289446815823_1693996291_n.jpg?oh=feaaff141622eabd155f1037df5bf62b&oe=58B41C10'},
                    {'name' : 'Bart', 'picture' :'https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-1/p240x240/14657322_1282311855133816_2003107283612900173_n.jpg?oh=6d2611e179978f46fb5a2ed0cf3a4603&oe=58B9110E'}]
                $scope.reversed = true;
            })
</script>
</body>
</html>
