<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Oefening 1</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
    <h1>Lijst met namen</h1>
    <input type="text" ng-model="myCtrl.person.voornaam"
           class="input-lg" placeholder="Voornaam"/>
    <br/>
    <input type="text" ng-model="myCtrl.person.achternaam"
           class="input-lg" placeholder="Achternaam" />
    <br/>
    <button ng-click="myCtrl.addPerson()" class="btn btn-lg btn-primary">Persoon toevoegen</button>

    <hr>

    <div>
        <ul ng-repeat="person in myCtrl.persons">
            <li>{{ person.voornaam }} {{ person.achternaam }}</li>
        </ul>
    </div>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // ...eigen script
    var app = angular.module('myApp', []);
    app.controller('myController', [myController]);

    function myController () {

        var vm = this;
        vm.persons = [];
//        vm.person = { 'voornaam' : '', 'achternaam' : '' };

        vm.addPerson = function () {
            var newPerson = {
                voornaam: vm.person.voornaam,
                achternaam: vm.person.achternaam
            };
            vm.persons.push(newPerson);
            vm.person.voornaam = vm.person.achternaam = ''; // Maak velden terug leeg
        }
    }

</script>
</body>
</html>
