<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Oefening 1</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container" ng-controller="myController">
    <h1>Angular Calculator</h1>
    <input type="number" ng-model="number1"
           class="input-lg" placeholder="typ een nummer..." />
    <br/>
    <input type="number" ng-model="number2"
           class="input-lg" placeholder="typ een nummer..." />
    <br/>
    <button ng-click="clickMe()" class="btn btn-lg btn-primary">Optellen</button>

    <hr>

    <div>
        <h3>
            {{ result }}
        </h3>
    </div>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // ...eigen script
    var app = angular.module('myApp', []);
    app.controller('myController',
            function ($scope) {
                $scope.clickMe = function () {
                    $scope.result = parseInt($scope.number1) + parseInt($scope.number2);
                };
            });

</script>
</body>
</html>
