<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Oefening 1</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container" ng-controller="myController as ctrl">
    <h1>Artikels</h1>
    <table style="width:50%">
        <tr>
            <th>Artikelnummer</th>
            <th>Omschrijving</th>
        </tr>
        <tr ng-repeat="artikel in ctrl.artikelen | orderBy : 'artikelnummer'" ng-click="ctrl.showDetail(artikel)">
            <td>{{ artikel.artikelnummer }}</td>
            <td>{{ artikel.omschrijving }}</td>
        </tr>
    </table>
    <br>
    <p>Klik op een rij.</p>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // ...eigen script
    var app = angular.module('myApp', []);
    app.controller('myController', [myController]);

    function myController() {

        var vm = this;

        vm.artikelen = [{'artikelnummer' : '000001', 'omschrijving' :'Tandenborstel', 'verkoopprijs' : '3,25', 'aankoopprijs' : '1,50'},
            {'artikelnummer' : '000002', 'omschrijving' :'Handdoek', 'verkoopprijs' : '4,75', 'aankoopprijs' : '2,50'},
            {'artikelnummer' : '000003', 'omschrijving' :'Washandje', 'verkoopprijs' : '1,20', 'aankoopprijs' : '0,40'},
            {'artikelnummer' : '000004', 'omschrijving' :'Keukenrol', 'verkoopprijs' : '1,75', 'aankoopprijs' : '0,65'},
            {'artikelnummer' : '000005', 'omschrijving' :'Tandenpasta', 'verkoopprijs' : '0,65', 'aankoopprijs' : '0,15'}];

        vm.showDetail = function (artikel) {
            alert("Omschrijving: " + artikel.omschrijving + "\n" + "Verkoopprijs: " + artikel.verkoopprijs + "\n" + "Aankoopprijs: " + artikel.aankoopprijs);
        };
    }

</script>
</body>
</html>
