<div>
	<table width="100%">
		<tr>
			<td><img ng-src="autowebapp/images/{{detailCtrl.car.type}}.png" /></td>
			<td width="100%">	<p>{{detailCtrl.car.description}}</p>
				<table class="table table-bordered kleur2">
					<tbody>
					<tr>
						<td>Basisprijs</td>
						<td><input class="input-custom" type="text" value="{{detailCtrl.car.price}}"/></td>
					</tr>
					<!-- Onderstaande velden hebben een vaste waarde, indien je het voor elk object anders wilt,
						 plaats je de gegevens bij detailController in de lijst met objecten. -->
					<tr>
						<td>Verkeersbelasting (jaarlijks)</td>
						<td><input class="input-custom" type="text" value="250.00"/></td>
					</tr>
					<tr>
						<td>Belasting op inverkeerstelling</td>
						<td><input class="input-custom" type="text" value="500"/></td>
					</tr>
					<tr>
						<td>Gemid. verbruik (l/100 km)</td>
						<td><input class="input-custom" type="text" value="5.20"/></td>
					</tr>
					</tbody>
				</table>
			</td>
	</table>
</div>

<br/>
