<div>
	 <table width="100%">
        <tr>
            <th>Omschrijving</th>
            <th>Prijs</th>
            <th>Type</th>
        </tr>
        <tr ng-repeat="car in homeCtrl.cars">
            <td><a ng-href="#/detail/{{ car.id }}">{{car.description}}</a></td>
            <td>€ {{car.price}}</td>
            <td>{{car.type}}</td>
        </tr>
    </table>
	<br/>
</div>
