<!-- Aparte CSS-bestanden zijn zó 2016 -->
<style>
	input{
		margin-bottom: 10px;
		color: #3c3c3c;
	}

	.jumbotron {
		background-color: #3c3c3c;
	}
</style>
<div>
	<div class="jumbotron">
		<h1>Nieuwe auto toevoegen</h1>
		<input type="text" ng-model="addCtrl.car.type" class="input-lg" placeholder="Type (A, B, C of CL)"/><br />
		<input type="text" ng-model="addCtrl.car.description" class="input-lg" placeholder="Omschrijving"/> <br />
		<input type="text" ng-model="addCtrl.car.price" class="input-lg" placeholder="Prijs"/><br />
		<input type="text" ng-model="addCtrl.car.verkeersbelasting" class="input-lg" placeholder="Verkeersbelasting"/><br />
		<input type="text" ng-model="addCtrl.car.belasting" class="input-lg" placeholder="Belasting op inverkeerstelling"/><br />
		<input type="text" ng-model="addCtrl.car.verbruik" class="input-lg" placeholder="Verbruik (l/100km)"/><br />

		<a ng-click="addCtrl.addCar()" class="btn btn-lg btn-primary">Toevoegen</a>

	</div>
	<hr/>
	<a href="#/home" class="btn btn-lg btn-warning">Annuleren</a>
</div>