<div>
    <form>
        <table width="100%">
            <tr>
                <td width="35%">Type
                    <select name="type" ng-model="homeCtrl.typeChoice">
                    <option value="*">Alle</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="CL">CL</option>
                </select>
                </td>
                <td>Prijsklasse:
                <select name="prijs" ng-model="homeCtrl.priceChoice">
                    <option value="*">Alle</option>
                    <option value="1">€&nbsp;20000&nbsp;...&nbsp;<&nbsp;€&nbsp;30000</option>
                    <option value="2">€&nbsp;30000&nbsp;...&nbsp;<&nbsp;€&nbsp;50000</option>
                    <option value="3">€&nbsp;50000&nbsp;...&nbsp;>&nbsp;€&nbsp;50000</option>
                </select>
                </td>

                <td>
                    <input type="submit" name="filtertype" value="Filter" ng-click="homeCtrl.setFilter()"/>
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <table width="100%">
        <tr>
            <th></th>
            <th>Omschrijving</th>
            <th>Prijs</th>
            <th>Type</th>
        </tr>
        <tr ng-repeat="car in homeCtrl.cars.records | filter: homeCtrl.priceFilter | filter: homeCtrl.typeFilter">
            <td><a href="#/home/"><img ng-click="homeCtrl.deleteCar($index)" src="autowebapp/images/prullenbak.png" style="width: 25px; height: 25px;"/></a></td>
            <td><a ng-href="#/detail/{{ car.Id }}">{{car.Omschrijving}}</a></td>
            <td>€ {{car.Basisprijs}}</td>
            <td>{{ homeCtrl.types.records[ car.TypeId - 1 ].Type }}</td>
        </tr>
    </table>
    <br/>
    <a href="#/add/" class="btn btn-lg btn-primary">Auto toevoegen</a>
    <br/>
    <br/>
</div>
