<!-- Gemaakt door: http://bartduisters.com -->
<!DOCTYPE html>
<html ng-app="pxlVakkenApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.333, minimum-scale=1.333, maximum-scale=1.333">
	<title>PXL Lessenrooster</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="js/angular.js"></script>
	<style>
		.btn {
			margin: 3px;
		}
	</style>
</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Lessenroosters&nbsp;{{ myCtrl.day }}/{{ myCtrl.month }}/{{ myCtrl.year}}<div ng-show="myCtrl.showVakken">{{ myCtrl.clickedKlas }}</div></h1>
	<hr>

	<input type="text" class="input-lg"
		   ng-model="myCtrl.search" placeholder="Filter ..."/>

	<!-- Indien klassen zichtbaar, laat deze code zien. -->
	<div ng-show="myCtrl.showKlas" ng-repeat="klas in myCtrl.klassen | filter: myCtrl.year | filter: myCtrl.search" ng-cloak>
		<div class="col-sm-2 col-xs-4"><h3><b><a ng-click="myCtrl.getVakken(klas.klas)">{{ klas.klas}}</a></b></h3></p></div>
	</div>
	<!-- /Indien klassen zichtbaar, laat deze code zien. -->

	<!-- Indien vakken zichtbaar, laat deze code zien. -->
	<div ng-show="myCtrl.showVakken" ng-cloak>
		<button class="btn btn-lg btn-primary" ng-click="myCtrl.getKlas()">Vorige</button>

		<div ng-show="!myCtrl.lesVandaag" ng-cloak><h1>Geen les vandaag!</h1></div>
		<div ng-repeat="vak in myCtrl.vakkendata | filter: myCtrl.search | orderBy: 'van_uur'">
			<div class="row">
				<!--<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">-->
				<div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading resume-heading">
							<div class="row">
								<!--<div class="col-lg-12">-->
								<div class="col-lg-12">
									<div class="col-lg-3"></div>
									<div class="col-lg-8">
										<h3>{{ vak.olod }}&nbsp;<span style="display: inline" ng-if="vak.lokaal">-</span>&nbsp;{{ vak.lokaal }}</h3>
										<h4>{{ vak.docent }}</h4>
										<h4>Van: {{ vak.van_uur}}</h4>
										<h4>Tot: {{ vak.tot_uur}}</h4>
									</div>
									<div class="col-lg-1"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Indien vakken zichtbaar, laat deze code zien.-->

<br/>
<br/>

<div align="center">
	<span class="badge">API: Bert Bijnens - Student Toegepaste Informatica</span>
	<br/>
	<span class="badge">APP: Bart Duisters - Student Toegepaste Informatica</span>
</div>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script src="app/pxl-vakken-app.js"></script>
<script>
	/* App */
    angular.module('pxlVakkenApp', []);

    angular.module('pxlVakkenApp')
        .controller('myController', myController)
        .service('klasFactory', klasFactory)
        .constant('GLOBALS', {
            urlBase: 'http://roosters.bloatware.online/v1/klassen/'
        });

	/* Controller */
    myController.$inject = ['klasFactory'];
    function myController(klasFactory) {
        var vm = this;
		/* Datum van vandaag aanmaken */
        vm.date = new Date();
        vm.day = vm.date.getDate();
        vm.month = vm.date.getMonth() + 1; /* Maanden hebben een 0-index */
        vm.year = vm.date.getFullYear();
        vm.newDate = new Date(vm.year + "-" + vm.month + "-" + vm.day);
		/* /Datum van vandaag aanmaken */
        vm.showKlas = false;
        vm.showVakken = false;
        vm.vakkendata = [];
        vm.clickedKlas = [];

        vm.getKlas = function () {
            klasFactory.getKlas()
                .then(function (klas) {
					/* reset vakken */
                    vm.vakkendata = [];
                    vm.lesVandaag = false;
					/* /reset vakken */
                    vm.klassen = klas.data;
                    vm.showKlas = true;
                    vm.showVakken = false;
                });
        };
        vm.getKlas();

        vm.getVakken = function (klas) {
            klasFactory.getVakken(klas)
                .then(function (vakken) {
                    vm.vakken = vakken.data;
                    vm.showVakken = true;
                    vm.showKlas = false;
                    vm.clickedKlas = klas;
                })
                .then(function () {
                    for (vak in vm.vakken) {
                        vm.getVakkendata(vm.vakken[vak]);
                    }
                });
        };

        vm.getVakkendata = function (vak) {
            klasFactory.getVakkendata(vak)
                .then(function (vakkendata) {
                    for (prop in vakkendata.data) {
                        vm.vakdatum = vm.formatDate(vakkendata.data[prop]);
                        vakkendata.data[prop].van_uur = vm.formatUur(vakkendata.data[prop].van_uur);
                        vakkendata.data[prop].tot_uur = vm.formatUur(vakkendata.data[prop].tot_uur);
                        vakkendata.data[prop].olod = vm.getVaknaam(vakkendata.data[prop].olod);

                        if (vm.isLesVandaag(vm.newDate, vm.vakdatum)) {
                            vm.lesVandaag = true;
                            if (!contains(vm.vakkendata, vakkendata.data[prop])) {
                                vm.vakkendata.push(vakkendata.data[prop]);
                            }
                        }
                    }
                })
        };

        function contains(a, obj) {
            for (var i = 0; i < a.length; i++) {
                if (a[i].olod === obj.olod && a[i].van_uur === obj.van_uur) {
                    return true;
                }
            }
            return false;
        }

        vm.getKlas();

		/* Extra logica */
        vm.formatDate = function(datum) {
            vm.datum = datum.datum;
            vm.splitdatum = vm.datum.split("/");
            return new Date(datum.jaar + "-" + vm.splitdatum[1] + "-" + vm.splitdatum[0]);
        };

        vm.formatUur = function(uur) {
            var splituur = uur.split("");
            var uurRes = "";
            for (var i = 0; i < splituur.length -2; i++) {
                uurRes += splituur[i];
            }
            if (uurRes.length == 1) {
                uurRes = 0 + uurRes;
            }
            return uurRes + ":" + splituur[splituur.length-2] + splituur[splituur.length-1];
        };

        vm.isLesVandaag = function(datum1, datum2) {
            var dag1 = datum1.getDate();
            var maand1 = datum1.getMonth() + 1; /* Maanden hebben een 0-index */
            var jaar1 = datum1.getFullYear();
            var dag2 = datum2.getDate();
            var maand2 = datum2.getMonth() + 1; /* Maanden hebben een 0-index */
            var jaar2 = datum2.getFullYear();
            return dag1 == dag2 && maand1 == maand2 && jaar1 == jaar2;
        };

        vm.getVaknaam = function(vaknaam) {
            vm.vaknaam = vaknaam.split("-");
            return vm.vaknaam[0].trim();
        };
    }

	/* Factory */
    klasFactory.$inject = ['$http', 'GLOBALS'];
    function klasFactory($http, GLOBALS) {
        this.getKlas = function () {
            return $http({
                url: GLOBALS.urlBase,
                method: 'GET'
            });
        };
        this.getVakken = function(klas) {
            return $http({
                url: GLOBALS.urlBase + klas + "/vakken/",
                method: 'GET'
            })
        };
        this.getVakkendata = function(vak) {
            return $http({
                url: GLOBALS.urlBase + vak.klas + "/vakken/" + vak.code_olod + "/",
                method: 'GET'
            })
        }
    }
</script>
</body>
</html>