﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Eenvoudige Controller</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<!-- De directive ng-controller wordt toegevoegd. -->
<div class="container" ng-controller="testController">
	<h1>Eenvoudige Controller</h1>
	<!-- {{ propertie }}, dit komt overeen met de $scope.propertie onderaan  -->
	<h2>{{ naam }}</h2>
	<p>Favoriete stad: {{ stad }}</p>
	<p>Favoriet land: {{ land }}</p>
</div>

<!-- Custom scripts -->
<script>
    var app = angular.module('myApp', []);
    app.controller('testController',
        // Hier wordt met $scope gewerkt, later gaan we 'modulair' tewerk.
        function ($scope) {
			// Aan de 'scope' worden de properties 'naam', 'stad' en 'land' gekoppeld
            $scope.naam = 'Bart Duisters';
            $scope.stad = 'De Stad Hamont';
            $scope.land = 'Kloon van Nederland';
        });
</script>

</body>
</html>
