﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Eenvoudige Controller</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<div class="container" ng-controller="myController">
	<!-- Onderstaande code komt van 0211 ... -->
	<h1>Filteren op achternaam</h1>
	<p>
		<input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
	</p>
	<p>
		<input type="text" ng-model="naam" class="input-lg" placeholder="Filter op naam ..." />
	</p>
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen | orderBy: 'voornaam' : reversed | filter : {achternaam: naam} as nResultaten ">
			{{ persoon.voornaam }} -  {{ persoon.achternaam }}
		</li>
		<p ng-if="nResultaten.length === 0">
			<strong>Geen resultaten gevonden ...</strong>
		</p>
		<p ng-if="nResultaten.length === 1">
			<strong>{{ nResultaten.length }} resultaat gevonden</strong>
		</p>
		<p ng-if="nResultaten.length > 1">
			<strong>{{ nResultaten.length }} resultaten gevonden</strong>
		</p>
	</ul>
	<!-- /0211 -->
</div>

<!-- Custom scripts -->
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope) {
			// In plaats van de lijst met ng-init op de container te initialiseren (zoals in 0211)
			// plaatsen we ze in een array als property van de scope.
            $scope.lijstMetPersonen = [
                {voornaam : 'Bart', achternaam:'Duisters'},
                {voornaam : 'Sylvia', achternaam:'De Vijlder'},
                {voornaam : 'Jeroen', achternaam:'Roumen'},
                {voornaam : 'Evi', achternaam:'Van Looy'},
                {voornaam : 'Luc', achternaam:'Doumen'},
                {voornaam : 'Linus', achternaam:'Torvalds'}
            ];
            // Standaard zetten we de checkbox op aangevinkt
            $scope.reversed = true;
        });
</script>

</body>
</html>
