﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-click binnen ng-repeat</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<div class="container" ng-controller="myController">
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen -->
	<ul>
		<!-- Deze gegevens worden gehaald uit de properties van de persoon. -->
		<li ng-repeat="persoon in lijstMetPersonen">
			<a href="#" ng-click="toonDetails(persoon)">
				{{ persoon.voornaam }} {{ persoon.achternaam }}
			</a>
		</li>
	</ul>
	<hr />
	<!-- 2. Details per persoon -->
	<div>
		<!-- Deze gegevens worden gehaald uit de $scope. -->
		<h3>{{ voornaam }} {{ achternaam }} </h3>
		<strong>{{ leeftijd }} jaar </strong>,
		<a href="mailto:{{ email }}">{{ email }}</a>
	</div>
</div>

<!-- Custom scripts -->
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope) {
            // 1. array met gegevens
			// Merk op dat voornaam, achternaam, leeftijd en email hier properties zijn van de personen in de array.
            $scope.lijstMetPersonen = [
                {voornaam : 'Bart', achternaam:'Duisters', leeftijd: 25, email: 'bartduisters@bartduisters.com'},
                {voornaam : 'Sylvia', achternaam:'De Vijlder', leeftijd: 24, email: 'sylvia@devijlder.com'},
                {voornaam : 'Jeroen', achternaam:'Roumen', leeftijd: 24, email: 'jeroen@huphollandhup.com'},
                {voornaam : 'Evi', achternaam:'Van Looy', leeftijd: 21, email: 'evi@vanlooy.com'},
                {voornaam : 'Luc', achternaam:'Doumen', leeftijd: 51, email: 'luc.doumen@pxl.be'},
                {voornaam : 'Linus', achternaam:'Torvalds', leeftijd: 47, email: 'linus@linux.com'}
            ];

            // 2. functie die gekoppeld zit aan ng-click
			// Merk op dat we de properties van de geselecteerde persoon opslaan in gelijknamie variabelen op de scope.
            $scope.toonDetails = function (persoon) {
                $scope.voornaam = persoon.voornaam;
                $scope.achternaam = persoon.achternaam;
                $scope.leeftijd = persoon.leeftijd;
                $scope.email = persoon.email;
            };

            // 3. initiële waarde instellen (1e persoon in de array)
			// Merk op dat de 0 verandert naargelang je andere namen aanklikt in de lijst.
            $scope.toonDetails($scope.lijstMetPersonen[0]);
        });
</script>

</body>
</html>

