﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-click binnen ng-repeat</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<div class="container" ng-controller="myController">
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen -->
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen">
			<a href="#" ng-click="toonDetails(persoon)">
				{{ persoon.voornaam }} {{ persoon.achternaam }}
			</a>
		</li>
	</ul>
	<hr />
	<!-- 2. Details per persoon -->
	<div>
		<h3>{{ voornaam }} {{ achternaam }} </h3>
		<strong>{{ leeftijd }} jaar </strong>,
		<a href="mailto:{{ email }}">{{ email }}</a>
	</div>
</div>

<!-- Custom scripts -->
<!-- Deze oefening is identiek aan de vorige. Maar de module en controller worden nu in aparte bestanden geplaatst. -->
<script src="js/0306_app.js"></script>
<script src="js/0306_controller.js"></script>
<script>
    // ----- Dit zit nu in js/0306_app.js -----
    //    var app = angular.module('myApp', []);

    // ----- Dit zit nu in js/0306_controller.js -----
    //    app.controller('myController',
    //        function ($scope) {
    //            // 1. array met gegevens
    //           $scope.lijstMetPersonen = [
    //                {voornaam : 'Bart', achternaam:'Duisters', leeftijd: 25, email: 'bartduisters@bartduisters.com'},
    //                {voornaam : 'Sylvia', achternaam:'De Vijlder', leeftijd: 24, email: 'sylvia@devijlder.com'},
    //                {voornaam : 'Jeroen', achternaam:'Roumen', leeftijd: 24, email: 'jeroen@huphollandhup.com'},
    //                {voornaam : 'Evi', achternaam:'Van Looy', leeftijd: 21, email: 'evi@vanlooy.com'},
    //                {voornaam : 'Luc', achternaam:'Doumen', leeftijd: 51, email: 'luc.doumen@pxl.be'},
    //                {voornaam : 'Linus', achternaam:'Torvalds', leeftijd: 47, email: 'linus@linux.com'}
    //            ];
    //
    //            // 2. functie die gekoppeld zit aan ng-click
    //            $scope.toonDetails = function (persoon) {
    //                $scope.voornaam = persoon.voornaam;
    //                $scope.achternaam = persoon.achternaam;
    //                $scope.leeftijd = persoon.leeftijd;
    //                $scope.email = persoon.email;
    //            };
    //
    //            // 3. initiële waarde instellen (1e persoon in de array)
    //            $scope.toonDetails($scope.lijstMetPersonen[0]);
    //        });
</script>

</body>
</html>