﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-click binnen ng-repeat</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

<!-- 'as ctrl' toegevoegd. De controller krijgt hier de alias 'ctrl' -->
<div class="container" ng-controller="myController as ctrl">
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen -->
	<ul>
		<!-- Alles wat eerst uit de $scope gehaald werd, krijgt nu 'ctrl.' ervoor. -->
		<li ng-repeat="persoon in ctrl.lijstMetPersonen">
			<a href="#" ng-click="ctrl.toonDetails(persoon)">
				{{ persoon.voornaam }} {{ persoon.achternaam }}
			</a>
		</li>
	</ul>
	<hr />
	<!-- 2. Details per persoon -->
	<div>
		<h3>{{ ctrl.voornaam }} {{ ctrl.achternaam }} </h3>
		<strong>{{ ctrl.leeftijd }} jaar </strong>,
		<a href="mailto:{{ ctrl.email }}">{{ ctrl.email }}</a>
	</div>
</div>

<!-- Custom scripts -->
<!-- Exact hetzelfde als 0305, maar $scope verandert naar de modulair aanpak 'vm'. -->
<script>
    var app = angular.module('myApp', [])
	// function $scope() verdwijnt, [myController] verschijnt
    .controller('myController', [myController]); // minification safe syntaxis

	// [myController] linkt naar deze functie
    function myController() {
        // 1. Cache de huidige controller ('this') in een variabele vm (=afkorting voor ViewModel)
        var vm = this;

        // 2. array met gegevens
		// $scope wordt vm
        vm.lijstMetPersonen = [
            {voornaam : 'Bart', achternaam:'Duisters', leeftijd: 25, email: 'bartduisters@bartduisters.com'},
            {voornaam : 'Sylvia', achternaam:'De Vijlder', leeftijd: 24, email: 'sylvia@devijlder.com'},
            {voornaam : 'Jeroen', achternaam:'Roumen', leeftijd: 24, email: 'jeroen@huphollandhup.com'},
            {voornaam : 'Evi', achternaam:'Van Looy', leeftijd: 21, email: 'evi@vanlooy.com'},
            {voornaam : 'Luc', achternaam:'Doumen', leeftijd: 51, email: 'luc.doumen@pxl.be'},
            {voornaam : 'Linus', achternaam:'Torvalds', leeftijd: 47, email: 'linus@linux.com'}
        ];

        // 3. functie die gekoppeld zit aan ng-click
		// $scope wordt vm
        vm.toonDetails = function (persoon) {
            vm.voornaam = persoon.voornaam;
            vm.achternaam = persoon.achternaam;
            vm.leeftijd = persoon.leeftijd;
            vm.email = persoon.email;
        };

        // 4. initiële waarde instellen (1e persoon in de array)
		//$scope wordt vm
        vm.toonDetails(vm.lijstMetPersonen[0]);
    };
</script>

</body>
</html>
