﻿<!DOCTYPE html>
<html>
<head>
    <link href="js/bootstrap.css" rel="stylesheet" />
    <script src="js/angular.js"></script>
    <script src="js/ng-slide-down.js"></script>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<!-- ng-cloak voorkomt dat er raw data geladen wordt -->
<div ng-app="vehicleApp" ng-controller="vehicleController as vehicleCtrl" ng-cloak>
    <div ng-repeat="vehicle in vehicleCtrl.vehicles">
        <div ng-click="widgetExpandedLazy = !widgetExpandedLazy" class="head">
            {{ vehicle.name }}
        </div>
        <div ng-slide-down="widgetExpandedLazy" lazy-render duration="1">
            <div class="content">
                <ul>
                    <li ng-repeat="(attribute, value) in vehicle.parts">
                        {{attribute}} ({{value}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="app/vehicleapp.js"></script>
<script src="controllers/vehicleController.js"></script>
</body>
</html>
