﻿<!DOCTYPE html>
<html ng-app>
<head>
	<title>Template AngularJS</title>
	<link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<!-- Na toevoegen van de directive ng-app wordt de expressie goed verwerkt. -->
		<h1>{{ 2 + 2 }}</h1>
	</div>


	<!-- ***************-->
	<!-- Vendor scripts -->
	<!-- ***************-->
	<script src="../js/vendor/angular/angular.js"></script>

	<!-- ***************-->
	<!-- Custom scripts -->
	<!-- ***************-->
	<script>
		// ...eigen script
	</script>
</body>
</html>
