<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-show en ng-hide</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<style>
		.kader {
			width: 400px;
			height: 90px;
			border: 1px solid #333;
			background-color: #4390AE;
			color: white;
			padding: 4px;
			margin: 4px;
		}
	</style>
</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-show en ng-hide</h1>
	<div class="checkbox">
		<label>
			<!-- myCtrl.checked is gebonden aan 'vm.checked' onderaan,
			     deze wordt onderaan op 'false' gezet (en dus is de
			     checkbox niet aangevinkt).-->
			<input type="checkbox" ng-model="myCtrl.checked"> Tekst verbergen
		</label>
	</div>

	<!-- Wanneer de checkbox wordt aangeklikt, verandert de waarde van 'vm.checked'
		 naar 'true'. De waarde van 'ng-hide' wordt gebonden aan 'vm.checked' via
		 myCtrl.checked. Met als gevolg dat wanneer de checkbox wordt aangevinkt,
		 de waarde van ng-hide verandert in 'true' en dus de tekst zal verbergen. -->
	<!-- Verander ng-hide in ng-show om een omgekeerde werking te hebben. -->
	<div class="kader" ng-hide="myCtrl.checked">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit
		in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
		tellus.
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

        angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
        vm.checked = false;
    }
</script>
</body>
</html>