<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-if</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<style>
		.kader {
			width: 400px;
			height: 90px;
			border: 1px solid #333;
			background-color: #4390AE;
			color: white;
			padding: 4px;
			margin: 4px;
		}
	</style>
</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-if</h1>

	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="myCtrl.checked"> Tekst tonen
		</label>
	</div>

	<!-- Alles is hetzelfde als vorige oefening. Maar deze keer zit de waarde gekoppeld
         aan een 'ng-if'-directive. Dit zou perfect gewisseld kunnen worden met 'ng-show'. -->
	<div class="kader" ng-if="myCtrl.checked">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit
		in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
		tellus.
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
        vm.checked = false;
    }
</script>
</body>
</html>