<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-class</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<style>
		.rood {
			background-color: #b92c28;
			color: #fff;
		}

		.wit {
			background-color: #fff;
			color: #000;
		}

		.blauw {
			background-color: #4390AE;
			color: white;
		}
		.border {
			border: 4px solid #313131;
			border-radius: 4px;
			padding: 4px;
			margin: 4px;
		}
		.font{
			font-family: "Courier New", Helvetica, sans-serif;
		}
		.size30{
			font-size: 30px;
		}
	</style>
</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-class</h1>

	<!-- Via de directive 'ng-model' koppelen we de waarde van de checkboxen (true of false)
	 	 aan de waarden 'vm.propertie'.
	 	 Deze worden vervolgens via de directive 'ng-class' gekoppeld aan een CSS-klasse.
	 	 Als een checkbox aangevinkt wordt, wordt de waarde 'true' en zal de CSS-klasse actief worden. -->
	<input type="checkbox" ng-model="myCtrl.color"/>Kleur
	<input type="checkbox" ng-model="myCtrl.border"/>Rand
	<input type="checkbox" ng-model="myCtrl.size"/>Groter
	<input type="checkbox" ng-model="myCtrl.font"/>Lettertype

	<!-- De waarden van de checkboxen worden gekoppeld aan de CSS-klassen. -->
	<div ng-class="{rood: myCtrl.color, border: myCtrl.border, size30: myCtrl.size, font: myCtrl.font}">
		<h2>Koptekst</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit
		in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
		tellus.
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

	angular.module('myApp')
			.controller('myController', myController);

	function myController() {
		var vm = this;

	}
</script>
</body>
</html>