<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-click</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-click</h1>

	<!-- De directive ng-click zit gekoppeld aan de functie 'optellen' van de controller.
		 Deze geeft als parameter '$event' mee, hiermee kunnen verschillende dingen uitgelezen
		 worden. Waaronder de x- en y-positie van de muis op het scherm. -->
	<button class="btn btn-lg" ng-click="myCtrl.optellen($event)">Optellen</button>
	<h2>
		{{ myCtrl.totaal }}
	</h2>

	<p>{{ myCtrl.positie }}</p>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

	angular.module('myApp')
			.controller('myController', myController);

	function myController() {
		var vm = this;
		vm.totaal = 0;

		// Elke keer dat 'myCtrl.optellen($event)' wordt aangeroepen in de HTML-code
		vm.optellen = function ($event) {
		    // wordt er 1 bij het totaal opgeteld
			vm.totaal += 1;
			// en wordt de x- en y-positie opgehaald via $event om weer te geven
			vm.positie = 'x-positie: ' + $event.pageX + ', y-positie: ' + $event.pageY;
		}
	}
</script>
</body>
</html>