<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>ng-mousemove</title>
	<link href="../css/bootstrap.css" rel="stylesheet"/>
</head>
<style>
	.box{
		width: 300px;
		height: 300px;
		border: 4px solid #333;
		border-radius: 4px;
		background-color: #eee;
		color: #000;
	}

</style>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-mousemove</h1>
	<div class="box" ng-mousemove="myCtrl.calculatePosition($event)">
		<h2>{{ myCtrl.position }}</h2>
	</div>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // Alle code in een bestand. Normaal gesproken zou u dit
    // verspreiden over verschillende bestanden en mappen.

    // 1. Module maken.
    angular.module('myApp', []);

    // 2. Controller, factory en globals maken
    angular.module('myApp')
        .controller('myController', myController);

    // 3. Controller implementeren
    function myController() {
        var vm = this;
        vm.calculatePosition= function ($event) {
            vm.position ='(' + $event.offsetX + ', ' + $event.offsetY + ')';
        }
    }
</script>
</body>
</html>


<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-mousemove</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<style>
		.box{
			width: 300px;
			height: 300px;
			border: 4px solid #333;
			border-radius: 4px;
			background-color: #eee;
			color: #000;
		}
	</style>
</head>
<body>


<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-mousemove</h1>
	<!-- Wanneer de cursor beweegt, wordt 'vm.berekenPositie' opgeroepen.
		 Deze krijgt $event als parameter mee, waaruit je de positie van de
		 'offset' van X en Y kan lezen.-->
	<div class="box" ng-mousemove="myCtrl.berekenPositie($event)">
		<h2>{{ myCtrl.positie }}</h2>
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
        vm.berekenPositie= function ($event) {
			// Bij de vorige oefening werd pageX en pageY gebruikt, deze geven
			// de positie van de cursor ten opzichte van de pagina.
			// offset geeft de pagina ten opzichte van het element waarin het zich bevindt.
            vm.positie ='(' + $event.offsetX + ', ' + $event.offsetY + ')';
        }
    }
</script>
</body>
</html>