<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-keypress</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>


<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-keypress</h1>

	<h2>Check op Enter:</h2>
	<!-- Wanneer eender welke knop wordt ingedrukt, wordt 'vm.knopGedrukt' aangeroepen. -->
	<!-- autofocus zorgt dat dit element meteen geselecteerd is bij het laden van de pagina. -->
	<input type="text" value="" ng-keypress="myCtrl.knopGedrukt($event)" autofocus/>

	<p>{{ myCtrl.nEnters}}</p>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

	angular.module('myApp')
			.controller('myController', myController);

	function myController() {
		var vm = this;
		var nEnter = 0;
		vm.knopGedrukt = function ($event) {
			// Wanneer de keyCode overeenkomt met 13 (de keyCode van Enter) ...
			if ($event.keyCode === 13) {
				nEnter += 1;
				vm.nEnters = nEnter + ' keer op Enter gedrukt.';
			}

		}
	}
</script>
</body>
</html>