<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-paste</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-paste</h1>

	<h2>Is er tekst geplakt?</h2>
	<input type="text" ng-paste="myCtrl.naPlakken()" autofocus placeholder="Plak hier..."/>

	<p>{{ myCtrl.plakTekst}}</p>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

	angular.module('myApp')
			.controller('myController', myController);

	function myController() {
		var vm = this;
		vm.naPlakken = function () {
			vm.plakTekst = 'Er is tekst geplakt!';
		}
	}
</script>
</body>
</html>