<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-submit</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-submit</h1>

	<form ng-submit="myCtrl.submitFormulier()" name="form1">
		E-mail: <input type="email" placeholder="E-mailadres" ng-model="myCtrl.email" class="input-lg"/>
		<input type="submit" value="Verzenden" class="btn btn-primary"/>
	</form>
	<p>{{ myCtrl.waarden  }}</p>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

	angular.module('myApp')
			.controller('myController', myController);

	function myController() {
		var vm = this;
		vm.waarden = [];
		vm.submitFormulier = function () {
			vm.waarden.push(vm.email);
		}
	}
</script>
</body>
</html>