<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Selectielijsten en ng-change</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<!-- Deze CSS is terug te vinden in angular.js. Het is om aan te tonen wat ng-cloak doet. -->
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>

</head>
<!-- ng-cloak zorgt ervoor dat de eindgebruiker nooit {{ property }} te zien krijgt, maar altijd
	 de waarde die het bevat.
	 Het 'wacht' totdat alles geladen is voor het de waarden weergeeft. -->
<body ng-cloak>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Selectielijsten en ng-change</h1>

	<!-- Elke keer wanneer een ander land gekozen wordt, wordt vm.veranderLand() opgeroepen. -->
	<!-- ng-model bevat de waarden van het aangeklikte land. -->
	<select name="list1"
			ng-change="myCtrl.veranderLand()"
			ng-model="myCtrl.gekozenLand">
		<!-- De verschillende landen worden via ng-repeat gekoppeld aan de 'option'-tag. -->
		<option ng-repeat="land in myCtrl.landen">{{ land }}</option>
	</select>

	<!-- In vm.veranderLand() wordt de waarde van ng-model in vm.geselecteerdLand geplaatst. -->
	<p>Gekozen land: {{ myCtrl.geselecteerdLand }}</p>

	<hr/>
	<h2>Lijst 2: Fruit via for-in</h2>
	<!-- In plaats van ng-repeat in een 'option'-tag te gebruiken. Wordt hier
		 gebruik gemaakt van de directive 'ng-options'. Hierin wordt via een
		 for-in-loop alle opties vastgelegd.-->
	<select ng-model="myCtrl.gekozenFruit"
			ng-options="f.name for f in myCtrl.lijstMetFruit track by f.id"
			ng-change="myCtrl.veranderFruit()">
	</select>

	<!-- In vm.veranderFruit() wordt de waarde van ng-model in vm.geselecteerdFruit geplaatst. -->
	<p ng-show="myCtrl.geselecteerdFruit">
		Gekozen fruit: {{ myCtrl.geselecteerdFruit.name }},
		&euro; {{ myCtrl.geselecteerdFruit.price}}
		(ID: {{ myCtrl.geselecteerdFruit.id}})
	</p>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
        vm.gekozenLand = '';
        vm.fruitChoice = '';

        // Lijst met landen
        vm.landen = [
            'Nederland',
            'Belgie',
            'Luxemburg',
            'Duitsland',
            'Frankrijk',
            'Spanje',
            'Zweden',
            'Portugal',
            'Italie',
            'Polen',
            'Denemarken',
            'Noorwegen'
        ].sort();

        vm.veranderLand = function () {
            vm.geselecteerdLand = vm.gekozenLand;
        };

        // Lijst met fruit.
        vm.lijstMetFruit = [
            {id: 1, name: 'Peer', price: '3,99'},
            {id: 2, name: 'Appel', price: '1,85'},
            {id: 3, name: 'Druif', price: '2,99'},
            {id: 4, name: 'Mango', price: '4,25'},
            {id: 5, name: 'Mandarijn', price: '1,99'},
            {id: 6, name: 'Banaan', price: '2,49'},
            {id: 7, name: 'Ananas', price: '4,49'}
        ];

        vm.veranderFruit = function () {
            vm.geselecteerdFruit = vm.gekozenFruit;
        };
    }
</script>
</body>
</html>