<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-focus en ng-blur</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-focus en ng-blur</h1>

	<!-- ng-focus wordt opgeroepen wanneer dit element de selecteerd is.
         ng-blur wordt opgeroepen wanneer dit element niet meer geselecteerd is.-->
	<input type="text"
		   ng-focus="myCtrl.welFocus()"
		   ng-blur="myCtrl.geenFocus()"
		   ng-model="myCtrl.bericht"
		   placeholder="Geen focus. Klik hier ...	"/>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
        vm.welFocus = function () {
            vm.bericht = "Ik heb focus!";
        };
        vm.geenFocus = function () {
            vm.bericht = "";
        };
    }
</script>
</body>
</html>