<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ng-disabled</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>ng-disabled</h1>
	<label for="checkbox1">
		<!-- ng-model koppelt vm.knopActief aan de checkbox. -->
		<input type="checkbox" id="checkbox1"
			   ng-model="myCtrl.knopActief" /> Knop in-/uitschakelen
	</label>
	<br/>
	<!-- Afhankelijk van de waarde van vm.knopActief (true of false)
		 wordt de knop wel of niet actief.-->
	<button ng-disabled="!myCtrl.knopDisabled" class="btn btn-primary">
		Verzenden
	</button>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    angular.module('myApp')
        .controller('myController', myController);

    function myController() {
        var vm = this;
    }
</script>
</body>
</html>