﻿<div>
	<div class="jumbotron">
		<h1>Gegevens van: {{ detailCtrl.persoon.voornaam }} {{ detailCtrl.persoon.achternaam }}</h1>
		<!-- 2. Details per persoon -->
		<h2> Volledige naam: {{ detailCtrl.persoon.voornaam}} {{ detailCtrl.persoon.achternaam}} </h2>

		<h2>ID: {{ detailCtrl.persoon.id }}</h2>
		<strong>{{ detailCtrl.persoon.leeftijd}} jaar </strong>,
		<a ng-href="mailto:{{ detailCtrl.persoon.email }}">{{ detailCtrl.persoon.email }}</a>
	</div>
	<hr/>
	<a ng-href="#!/home" class="btn btn-lg btn-success">Home</a>
</div>
