﻿<div>
	<h1>Kies een persoon</h1>
	<!-- 1. De lijst met namen -->
	<ul>
		<li ng-repeat="persoon in homeCtrl.lijstMetPersonen">
			<a ng-href="#!/detail/{{persoon.id}}">
				{{ persoon.id }} - {{ persoon.voornaam }} {{ persoon.achternaam }}
			</a>
		</li>
	</ul>
</div>
