<div ng-controller="homeController as homeCtrl" ng-cloak>
	<h1>Selectielijsten en ng-change</h1>

	<select name="list1"
			ng-change="homeCtrl.changePerson()"
			ng-model="homeCtrl.personChoice">
		<option ng-repeat="person in homeCtrl.persons">{{ person.fname }}&nbsp;{{ person.lname }}</option>
	</select>

	<p>Gekozen persoon: {{ homeCtrl.personChoice }}</p>

    <div ng-show="homeCtrl.showDetails">
		<h3>Details</h3>
        Voornaam: {{ homeCtrl.selectedPerson.fname }} <br/>
        Achternaam: {{ homeCtrl.selectedPerson.lname }} <br/>
        E-mail: {{ homeCtrl.selectedPerson.email }} <br/>
        Tel.: {{ homeCtrl.selectedPerson.tel }} <br/>
    </div>
</div>
