﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS ng-app FOUT</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container">
	<!-- Bekijk in browser, dit geeft NIET '4' als resultaat.
          De directive 'ng-app' mist namelijk nog! -->
	<h1>{{ 2 + 2 }}</h1>
</div>

</body>
</html>
