﻿<!DOCTYPE html>
<!-- ng-app is toegevoegd -->
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS ng-app JUIST</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container">
	<!-- Bekijk in browser, dit geeft WEL '4' als resultaat.
          De directive 'ng-app' is toegevoegd aan de HTML-tag! -->
	<h1>{{ 2 + 2 }}</h1>
</div>

</body>
</html>
