﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-model</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container">
	<h1>ng-model: simpele 'data binding'</h1>
	<h2>ng-model voor een 'input'-veld</h2>
	<!-- De directive 'ng-model' krijgt de naam 'voornaam', deze naam zie
         je ook terugkomen tussen de {{ }}. Op deze manier verbind je de
         data van het invoerveld aan de tekst tussen de <h2>-tags. -->
	<input type="text" ng-model="voornaam"
		   class="input-lg" placeholder="Typ jouw voornaam ..." />
	<h2>Hallo {{ voornaam }} </h2>

	<hr>

	<h2>ng-model voor een 'checkbox'</h2>
	<!-- Wanneer je de directive 'ng-model' koppelt aan een checkbox,
         dan koppel je de waarde 'true' of 'false'. Wanneer je de checkbox
         aanvinkt is de waarde true, anders false. -->
	<input type="checkbox"
		   value="yellow"
		   ng-model="kleur" />Geel
	<p>Aangevinkt: {{ kleur }}</p>

	<hr>

	<h2>Aangepaste 'ng-true-value' en 'ng-false-value'</h2>
	<!-- Analoog aan bovenstaand voorbeeld, maar in plaats van true en false
         worden de waarden van 'ng-true-value' en 'ng-false-value'
         weergegeven. -->
	<input type="checkbox"
		   value="yellow"
		   ng-model="colorWithValue"
		   ng-true-value="'Geel is geselecteerd'"
		   ng-false-value="'Geel is niet geselecteerd'" />Geel
	<p>Aangevinkt: {{ colorWithValue }}</p>
</div>

</body>
</html>
