﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-repeat</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<!-- De directive ng-init bevat een array met namen. -->
<div class="container"  ng-init="lijstMetNamen=['Bart', 'Sylvia', 'Jeroen', 'Evi', 'Luc', 'Linus']">
	<h1>ng-init en ng-repeat</h1>
	<!-- De directive ng-repeat wordt gebruikt om over de lijst met namen te loopen. -->
	<ul>
		<li ng-repeat="naam in lijstMetNamen">Hallo {{ naam }}</li>
	</ul>
</div>

</body>
</html>