﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-repeat</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<!-- Analoog aan vorig voorbeeld, er wordt via de directive ng-init een array gedefinieerd en met
     de directive ng-repeat wordt de array overlopen. De array bevat nu 'objecten'. -->
<div class="container"
	 ng-init="lijstMetPersonen=[
		 {voornaam : 'Bart', achternaam:'Duisters'},
		 {voornaam : 'Sylvia', achternaam:'De Vijlder'},
		 {voornaam : 'Jeroen', achternaam:'Roumen'},
		 {voornaam : 'Evi', achternaam:'Van Looy'},
		 {voornaam : 'Luc', achternaam:'Doumen'},
		 {voornaam : 'Linus', achternaam:'Torvalds'}
		 ]"
>
	<h1>ng-repeat met objecten</h1>
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen">
			{{ persoon.voornaam }} - {{ persoon.achternaam }}
		</li>
	</ul>
</div>

</body>
</html>
