﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS - Filters</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container"
	 ng-init="lijstMetPersonen=[
		 {voornaam : 'Bart', achternaam:'Duisters'},
		 {voornaam : 'Sylvia', achternaam:'De Vijlder'},
		 {voornaam : 'Jeroen', achternaam:'Roumen'},
		 {voornaam : 'Evi', achternaam:'Van Looy'},
		 {voornaam : 'Luc', achternaam:'Doumen'},
		 {voornaam : 'Linus', achternaam:'Torvalds'}
		 ]"
>
	<h1>Filter uppercase en lowercase</h1>
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen">
			<!-- Exact hetzelfde als het vorige voorbeeld, maar nu worden er filters toegevoegd.
				 Bij de voornaam wordt alles naar hoofdletter gezet. Bij de achternaam alles
				 naar kleine letters. -->
			{{ persoon.voornaam | uppercase }} - {{ persoon.achternaam |lowercase }}
		</li>
	</ul>

	<hr>

	<h1>Filter orderBy - true</h1>
	<ul>
		<!-- Exact hetzelfde als het vorige voorbeeld, maar nu wordt er de filter 'orderBy'toegevoegd.
      		 De personen worden op basis van voornaam gesorteerd.
      		 'false' om van a tot z te sorteren, 'true' om van z tot a te sorteren -->
		<li ng-repeat="persoon in lijstMetPersonen | orderBy : 'voornaam' : true ">

			{{ persoon.voornaam | uppercase }} - {{ persoon.achternaam |lowercase }}
		</li>
	</ul>

	<hr>

	<h1>Filter orderBy - false</h1>
	<ul>
		<!-- Exact hetzelfde als het vorige voorbeeld, maar nu wordt er de filter 'orderBy'toegevoegd.
      		 De personen worden op basis van voornaam gesorteerd.
      		 'false' om van a tot z te sorteren, 'true' om van z tot a te sorteren -->
		<li ng-repeat="persoon in lijstMetPersonen | orderBy : 'voornaam' : false ">

			{{ persoon.voornaam | uppercase }} - {{ persoon.achternaam |lowercase }}
		</li>
	</ul>

</div>

</body>
</html>
