﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS Filters</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container"
	 ng-init="lijstMetPersonen=[
		 {voornaam : 'Bart', achternaam:'Duisters'},
		 {voornaam : 'Sylvia', achternaam:'De Vijlder'},
		 {voornaam : 'Jeroen', achternaam:'Roumen'},
		 {voornaam : 'Evi', achternaam:'Van Looy'},
		 {voornaam : 'Luc', achternaam:'Doumen'},
		 {voornaam : 'Linus', achternaam:'Torvalds'}
		 ]"
>

	<h1>Filteren en sorteren</h1>
	<!-- Via de directive ng-model koppelen we de waarde van de checkbox aan de filter 'orderBy'.
	     Zie 0203: waarde van checkbox is 'true' of 'false' wanneer aangevinkt of niet.
	     Zie 0206-07-08: orderBy verandert van ascending naar descending afhankelijk van true of false.

	     Wanneer de checkbox wordt aangevinkt bevat 'reversed' de waarde true.-->
	<p><input type="checkbox" ng-model="reversed" />Omgekeerd sorteren</p>

	<!-- Via de directive ng-model koppelen we de invoer van het 'input'-veld aan de filter 'filter'.
		 Zie 0203: de ingetypte waarde wordt gekoppeld aan ng-model.

		 Wanneer men iets typt, wordt dit via 'naam' gekoppeld aan de 'naam' achter de filter en er wordt
		 dus per direct gefilterd op datgene wat men typte. -->
	<p><input type="text" ng-model="naam" class="input-lg" placeholder="Filter op naam ..." /></p>
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen | orderBy: 'voornaam' : reversed | filter : naam ">
			{{ persoon.voornaam }} - {{ persoon.achternaam }}
		</li>
	</ul>

	<hr>

	<h1>Filteren op achternaam</h1>
	<p>
		<input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
	</p>
	<p>
		<input type="text" ng-model="teZoekenAchternaam" class="input-lg" placeholder="Filter op naam ..." />
	</p>
	<ul>
		<li ng-repeat="persoon in lijstMetPersonen | orderBy: 'voornaam' : reversed | filter: { achternaam: teZoekenAchternaam } ">
			{{ persoon.voornaam }} - {{ persoon.achternaam }}
		</li>
	</ul>


</div>

</body>
</html>
