﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS Filters</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container"
	 ng-init="lijstMetPersonen=[
		 {voornaam : 'Bart', achternaam:'Duisters'},
		 {voornaam : 'Sylvia', achternaam:'De Vijlder'},
		 {voornaam : 'Jeroen', achternaam:'Roumen'},
		 {voornaam : 'Evi', achternaam:'Van Looy'},
		 {voornaam : 'Luc', achternaam:'Doumen'},
		 {voornaam : 'Linus', achternaam:'Torvalds'}
		 ]"
>

	<h1>Filteren op achternaam</h1>
	<p>
		<input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
	</p>
	<p>
		<input type="text" ng-model="naam" class="input-lg" placeholder="Filter op naam ..." />
	</p>
	<ul>
		<!-- Alles is hetzelfde als het vorige voorbeeld. Enkel de filter 'filter' is aangepast, er wordt nu specifiek
		     gekeken naar enkel de achternaam van een persoon en niet de volledige naam. -->
		<li ng-repeat="persoon in lijstMetPersonen | orderBy: 'voornaam' : reversed | filter: { achternaam: naam } ">
			{{ persoon.voornaam }} - {{ persoon.achternaam }}
		</li>
	</ul>

</div>

</body>
</html>