﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS Filters</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container"
	 ng-init="lijstMetPersonen=[
		 {voornaam : 'Bart', achternaam:'Duisters'},
		 {voornaam : 'Sylvia', achternaam:'De Vijlder'},
		 {voornaam : 'Jeroen', achternaam:'Roumen'},
		 {voornaam : 'Evi', achternaam:'Van Looy'},
		 {voornaam : 'Luc', achternaam:'Doumen'},
		 {voornaam : 'Linus', achternaam:'Torvalds'}
		 ]"
>

	<h1>Filteren op achternaam</h1>
	<p>
		<input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
	</p>
	<p>
		<input type="text" ng-model="naam" class="input-lg" placeholder="Filter op naam ..." />
	</p>
	<ul>
		<!-- as nResultaten is toegevoegd, dit is een array van alle resultaten -->
		<li ng-repeat="persoon in lijstMetPersonen | orderBy: 'voornaam' : reversed | filter: { achternaam: naam } as nResultaten">
			{{ persoon.voornaam }} - {{ persoon.achternaam }}
		</li>

		<!-- Afhankelijk van de lengte van de array, wordt andere informatie ingeladen. -->
		<p ng-if="nResultaten.length === 0">
			<strong>Geen resultaten gevonden ...</strong>
		</p>
		<p ng-if="nResultaten.length === 1">
			<strong>{{ nResultaten.length }} resultaat gevonden</strong>
		</p>
		<p ng-if="nResultaten.length > 1">
			<strong>{{ nResultaten.length }} resultaten gevonden</strong>
		</p>
	</ul>

</div>

</body>
</html>