﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Eenvoudige Controller</title>
	<link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

	<div class="container" ng-controller="myController">
		<h1>Filteren op achternaam</h1>
		<p>
			<input type="checkbox" ng-model="reversed" />Omgekeerd sorteren
		</p>
		<p>
			<input type="text" ng-model="naam" class="input-lg" placeholder="filter op naam..." />
		</p>
		<ul>
			<li ng-repeat="person in persons | orderBy: 'name' : reversed | filter : {lastname: naam } as numResults ">
				{{ person.name }} -  {{ person.lastname }}
			</li>
			<li ng-if="numResults.length === 0">
				<strong>Geen resultaten gevonden...</strong>
			</li>
		</ul>

		<button ng-click="clickMe()" class="btn btn-lg btn-primary">Klik op mij!</button>
	</div>


	<!-- ***************-->
	<!-- Vendor scripts -->
	<!-- ***************-->
	<script src="../js/vendor/angular/angular.js"></script>

	<!-- ***************-->
	<!-- Custom scripts -->
	<!-- ***************-->
	<script>
		// Een controller is gewoon een JavaScript-functie
		var app = angular.module('myApp', []);
		app.controller('myController',
			function ($scope) {
				$scope.persons = [
					{ 'name': 'John', lastname: 'Visser' },
					{ 'name': 'Bob', lastname: 'Tasseur' },
					{ 'name': 'Bart', lastname: 'Bever' },
					{ 'name': 'Sandra', lastname: 'de Boer' },
					{ 'name': 'Harry', lastname: 'de Vries' },
					{ 'name': 'Peter', lastname: 'Kassenaar' },
					{ 'name': 'Michiel', lastname: 'de Rond' },
					{ 'name': 'Jeroen', lastname: 'van Spek' },
					{ 'name': 'Irene', lastname: 'Nansen' },
					{ 'name': 'Mike', lastname: 'Schatgraver' }];
				$scope.reversed = true;

				$scope.clickMe = function () {
					alert('Er is op de knop geklikt!');
				};
			});
	</script>
</body>
</html>
