<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Oefening 1</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container" ng-controller="pokemonController as pkmnCtrl">
    <h1>Pok&eacute;mon</h1>
    <table style="width:50%">
        <tr>
            <th>Foto</th>
            <th>Naam</th>
        </tr>
        <tr ng-repeat="pokemon in pkmnCtrl.pokemons | orderBy : 'picture' ">
            <td><img width="250px" src="{{ pokemon.picture }}"/></td>
            <td>{{ pokemon.name }}</td>
        </tr>
    </table>
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
    // ...eigen script
    var app = angular.module('myApp', []);

    app.controller('pokemonController', ['$http', pokemonController]);
    function pokemonController ($http) {
        var vm = this;
        vm.pokemons = [];
        for (var i = 1; i < 4; i++) {
            $http.get('http://pokeapi.co/api/v2/pokemon/' + [i])
                .success(function(data) {
                var newPokemon = { 'picture' : '', 'name' : '' };
//                newPokemon.picture = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" + [i] + ".png";
                newPokemon.picture = data.sprites.front_default;
                newPokemon.name = data.name;
                vm.pokemons.push(newPokemon);
            });

        }

    }

    //    function pokemonController ($http) {
    //        var vm = this;
    //        var pokemons = [];
    //        var pictures = [];
    //        for (var i = 1; i < 3; i++) {
    //            pictures.push({
    //                picture: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" + [i] + ".png"
    //            });
    //            $http.get('http://pokeapi.co/api/v2/pokemon/' + [i]).success(function(data) {
    //                pokemons.push({
    //                    name: data.name
    //                });
    //            });
    //        }
    //        vm.pokemons = pokemons;
    //        vm.pictures = pictures;
    //    }



</script>
</body>
</html>
