<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Voorbeelden Values en Constants</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Werken met $http</h1>

	<p>De gegevens staan in &quot;personen.json&quot; op de server.</p>

	<div>
		<ul>
			<li ng-repeat="persoon in myCtrl.personen">
				{{persoon.id}} - {{ persoon.voornaam }} {{ persoon.achternaam }}
			</li>
		</ul>
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    // Controller, factory en globals koppelen aan module
    angular.module('myApp')
        .controller('myController', myController)
        .factory('persoonFactory', persoonFactory)
        .constant('GLOBALS', {
            personenUrl: 'data/personen.json'
        });

    // Controller implementeren
    myController.$inject = ['persoonFactory'];
    function myController(persoonFactory) {
        var vm = this;

        // Deze stond in de originele opgave. In AngularJS 1.4.* uit 2014 werkte dit ook.
        // Maar we zijn in 2017, AngularJS 1.6.*, .success en .error is deprecated, dit werkt
        // NIET meer.
		/*
		 persoonFactory.getPersonen()
		 .success(function (personen) {
		 vm.personen = personen;
		 })
		 .error(function (err) {
		 alert('Er is een fout opgetreden!')
		 });
		 */

        // In plaats van het bovenstaande, gebruiken we .then en .catch.
        // Het enige wat nog aangepast is, is dat de response niet het object direct is,
        // maar dat het object van hierboven in 'data' gestoken wordt.
        persoonFactory.getPersonen()
            .then(function (response) {
                vm.personen = response.data;
            })
            .catch(function (err) {
                alert('Er is een fout opgetreden!\n' + err)
            });
    }

    // Factory implementeren, let op injectie van $http en GLOBALS.
    persoonFactory.$inject = ['$http', 'GLOBALS'];
    function persoonFactory($http, GLOBALS) {
        var factory = {};

        factory.getPersonen = function () {
            return $http({
                method: 'GET',
                url: GLOBALS.personenUrl
            });
        };
        return factory;
    }
</script>
</body>
</html>