<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Voorbeelden Values en Constants</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Werken met $http</h1>

	<p>De gegevens staan in &quot;personen.json&quot; op de server.</p>

	<div>
		<ul>
			<li ng-repeat="persoon in myCtrl.personen">
				{{persoon.id}} - {{ persoon.voornaam }} {{ persoon.achternaam }}
			</li>
		</ul>
	</div>

	<div ng-show="myCtrl.errorMsg">
		<h3>Foutmelding van de server: </h3>
		{{ myCtrl.errorMsg }}
		<hr />
		<p><em>Status: {{ myCtrl.status }} </em></p>
	</div>
</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    // Controller, factory en globals koppelen aan module
    angular.module('myApp')
        .controller('myController', myController)
        .factory('persoonFactory', persoonFactory)
        .constant('GLOBALS', {
            personenUrl: 'data/personen.json',
			fouteUrl: 'data/bestaatniet.json'
        });

    // Controller implementeren
    myController.$inject = ['persoonFactory'];
    function myController(persoonFactory) {
        var vm = this;
        vm.errorMsg = '';
        vm.status = '';

        // Deze stond in de originele opgave. In AngularJS 1.4.* uit 2014 werkte dit ook.
        // Maar we zijn in 2017, AngularJS 1.6.*, .success en .error is deprecated, dit werkt
        // NIET meer.
		/*
        persoonFactory.getPersonen()
            .success(function (persons) {
                vm.persons = persons;
            })
            .error(function (err, status) {
                vm.errorMsg = err;
                vm.status = status;
            });
        */

        // In plaats van het bovenstaande, gebruiken we .then en .catch.
        // err en status worden niet meer direct teruggegeven, deze worden als property
		// toegevoegd aan 'response'.
        persoonFactory.getPersonen()
            .then(function (response) {
                vm.personen = response.data;
            })
            .catch(function (response) {
                vm.errorMsg = response.statusText;
                vm.status = response.status;
            });
    }

    // Factory implementeren, let op injectie van $http en GLOBALS.
    persoonFactory.$inject = ['$http', 'GLOBALS'];
    function persoonFactory($http, GLOBALS) {
        var factory = {};

        factory.getPersonen = function () {
            return $http({
                method: 'GET',
				// Gebruik GLOBALS.personenUrl om een werkende versie te hebben
				// Gebruik GLOBALS.fouteUrl om een niet werkende versie te hebben
                url: GLOBALS.fouteUrl
            });
        };
        return factory;
    }
</script>
</body>
</html>