<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Voorbeelden Values en Constants</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Persoonsgegevens ophalen via filltext.com</h1>

	<p>
		<button class="btn btn-success" ng-click="myCtrl.getPersonen()">Haal personen</button>
		<button class="btn btn-success" ng-click="myCtrl.maakTabelLeeg()">Leegmaken</button>
	</p>

	<table class="table table-bordered table-striped">
		<tr>
			<th>id</th>
			<th>Voornaam</th>
			<th>Achternaam</th>
			<th>Email</th>
		</tr>
		<tr ng-repeat="persoon in myCtrl.personen">
			<!-- id, fname, lname en email zijn de properties die je terugkrijgt van de
				 externe API (zie GLOBALS.personenUrl)-->
			<td>{{ persoon.id }}</td>
			<td>{{ persoon.fname }}</td>
			<td>{{ persoon.lname }}</td>
			<td>{{ persoon.email }}</td>
		</tr>
	</table>

</div>

<!-- Custom scripts -->
<script src="../../node_modules/angular-sanitize/angular-sanitize.js"></script>
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', ['ngSanitize']);

    // Controller, factory en globals koppelen aan module
    angular.module('myApp')
        .controller('myController', myController)
        .factory('persoonFactory', persoonFactory)
        .constant('GLOBALS', {
            personenUrl: 'http://www.filltext.com/?rows=15&id={index}&fname={firstName}&lname={lastName}&email={email}'
        });

    // Controller implementeren
    myController.$inject = ['persoonFactory'];
    function myController(persoonFactory) {
        var vm = this;
        vm.errorMsg = '';
        vm.status = '';

        // Deze stond in de originele opgave. In AngularJS 1.4.* uit 2014 werkte dit ook.
        // Maar we zijn in 2017, AngularJS 1.6.*, .success en .error is deprecated, dit werkt
        // NIET meer.
		/*
		 vm.getPersonen = function () {
		 persoonFactory.getPersonen()
		 .success(function (personen) {
		 vm.persons = personen;
		 })
		 .error(function (err, status) {
		 alert('Er is een fout opgetreden: ' + err);
		 });
		 };
		 */

        // In plaats van het bovenstaande, gebruiken we .then en .catch.
        // Wat hier extra is ten opzichte van vorige oefeningen, is dat we
        // vm.getPersonen definiëren zodat we deze via een knop kunnen aanroepen.
        // vm.getPersonen roept uiteindelijk gewoon de getPersonen van de Factory aan.
        vm.getPersonen = function () {
            persoonFactory.getPersonen()
                .then(function (response) {
                    vm.personen = response.data;
                })
                .catch(function (response) {
                    alert('Er is een fout opgetreden: ' + response.status + " " + response.statusText);
                });
        };

        // Tabel leegmaken (vm.personen wordt een lege array).
        vm.maakTabelLeeg = function () {
            vm.personen = [];
        }
    }

    // Factory implementeren, let op injectie van $http en GLOBALS.
    persoonFactory.$inject = ['$http', 'GLOBALS'];
    function persoonFactory($http, GLOBALS) {
        var factory = {};

        factory.getPersonen = function () {
            return $http({
                method: 'GET',
                url: GLOBALS.personenUrl,
                cache: true // Voorkom een extra http-call door gegevens te cachen.
            });
        };
        return factory;
    }

</script>
</body>
</html>