<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>$http-calls chaining met .then()</title>

	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../../node_modules/angular/angular.js"></script>

	<style>
		.moviePoster {
			float: left;
			height: 200px;
			padding-right: 10px;
		}
	</style>

</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Filmgegevens ophalen via de Open Movie-database</h1>

	<p>
		<input type="text" class="input-lg"
			   ng-model="myCtrl.titelVanFilm" placeholder="Titel van film..."/>
		<button class="btn btn-success" ng-click="myCtrl.getFilm()">Zoek film</button>
	</p>

	<!-- Gevonden film. Deze DIV-tag hoort bij de eerste call. -->
	<div class="jumbotron" ng-show="myCtrl.toonFilm">
		<!-- Poster, Title, Released en Plot zijn propertiers die teruggegeven worden
			 door de externe API. Bekijk dit via 'ng-inspector'. -->
		<img ng-src="{{ myCtrl.film.Poster }}" class="moviePoster"/>
		<h1>{{ myCtrl.film.Title }}</h1>
		<h2>Uitgekomen op {{ myCtrl.film.Released }}</h2>
		<p>{{ myCtrl.film.Plot }}</p>
	</div>

	<!-- Gevonden gerelateerd films. Deze DIV-tag hoort bij de tweede call. -->
	<div ng-show="myCtrl.toonGerelateerde">
		<h2>Zie ook:</h2>
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>Titel</th>
				<th>Jaar</th>
			</tr>
			<tr ng-repeat="gerelateerdeFilm in myCtrl.gerelateerdeFilms | orderBy:'Year' : true ">
				<!-- imdbID, Title en Year zijn propertiers die teruggegeven worden
     			     door de externe API. Bekijk dit via 'ng-inspector'. -->
				<td>{{ gerelateerdeFilm.imdbID }}</td>
				<td>{{ gerelateerdeFilm.Title }}</td>
				<td>{{ gerelateerdeFilm.Year }}</td>
			</tr>
		</table>
	</div>

</div>

<!-- Custom scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp', []);

    // Controller, factory en constanten koppelen aan module.
    angular.module('myApp')
        .controller('myController', myController)
        .service('filmService', filmService)
        .constant('GLOBALS', {
            urlFilmViaTitel: 'http://www.omdbapi.com/?t=', // Zie http://www.omdbapi.com/
            urlGerelateerdeFilms: 'http://www.omdbapi.com/?s='
        });

    // Controller implementeren.
    myController.$inject = ['filmService'];
    function myController(filmService) {
        var vm = this;
        vm.toonFilm = false;
        vm.toonGerelateerde = false;

        vm.getFilm = function () {
            filmService.getFilm(vm.titelVanFilm)
			// Op het einde van de eerste call doen we een 'return' van een nieuwe API-call op
			// de Service (wat ook een Factory had kunnen zijn).
                .then(function (response) { // 1e call
                    vm.film = response.data;
                    vm.toonFilm = true;
                    return filmService.getGerelateerdeFilms(vm.titelVanFilm);
                })
				// Het resultaat van de API-call op de Service van de eerste call,
				// wordt hier opgevangen.
				.then(function (response) { // 2e call
				    vm.gerelateerdeFilms = response.data.Search;
                    vm.toonGerelateerde = true;
				});
            // Er zou op het einde van de tweede 'then' een nieuwe API-call plaats kunnen vinden.
			// (dus opnieuw een 'return filmService.Functie()')
			// Deze kan dan met een derde '.then(function (response) { })' afgehandeld kunnen worden.
			// Dit heet 'chaining'.
        };
    }

    // Service implementeren, let op injectie van $http en GLOBALS.
    filmService.$inject = ['$http', 'GLOBALS'];
    function filmService($http, GLOBALS) {
        // Haalt 1 film op (de 'topper').
        this.getFilm = function (titelVanFilm) {
            return $http({
                url: GLOBALS.urlFilmViaTitel + titelVanFilm,
                method: 'GET'
            });
        };

        // Haalt een reeks films op.
		this.getGerelateerdeFilms = function (titelVanFilm) {
			return $http({
				url: GLOBALS.urlGerelateerdeFilms + titelVanFilm,
				method: 'GET'
			});
		}
    }
</script>
</body>
</html>