<div>
	 <table width="100%">
        <tr>
            <th></th>
            <th>Omschrijving</th>
            <th>Prijs</th>
            <th>Type</th>
        </tr>
        <tr ng-repeat="car in homeCtrl.cars.records">
            <td><a href="#/home/"><img ng-click="homeCtrl.deleteCar($index)" src="autowebapp/images/prullenbak.png" style="width: 25px; height: 25px;"/></a></td>
            <td><a ng-href="#/detail/{{ car.Id }}">{{car.Omschrijving}}</a></td>
            <td>€ {{car.Basisprijs}}</td>
            <td>{{ homeCtrl.types.records[ car.TypeId - 1 ].Type }}</td>
        </tr>
    </table>
    <br/>
    <a href="#/add/" class="btn btn-lg btn-primary">Auto toevoegen</a>
	<br/>
    <br/>
</div>
