<!doctype html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>Auteurs</title>

	<!-- Bootstrap en AngularJS staan op deze locatie door 'bower install' te doen. -->
	<link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<script src="js/lib/angular/angular.min.js"></script>

</head>

<!-- ng-app="myApp" zou ook aan de HTML-tag toegevoegd mogen worden. -->
<body ng-app="myApp">
<div class="container" ng-controller="auteurController as auteurCtrl">
	<h1>Auteurs</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th><th>Naam</th><th>Specialiteit</th>
		</tr>
		<tr ng-repeat="auteur in auteurCtrl.auteurs">
			<td>{{ auteur.id }}</td>
			<td>{{ auteur.naam }}</td>
			<td>{{ auteur.specialiteit }}</td>
		</tr>
	</table>
	<p>
		<a ng-href="index.html">Startpagina</a>
	</p>
</div>

<!-- Custom Scripts -->
<script>
	// Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

	angular.module('myApp', []);

    angular.module('myApp')
        .controller('auteurController', auteurController);

    function auteurController($http){
        var vm = this;
        var urlMetAuteurs = 'http://localhost:3000/api/auteurs';

        // Doe een GET met de API-call voor auteurs als URL
        $http({
            method:'get',
            url: urlMetAuteurs
        }).then(function(response){
            // Sla het resultaat op in vm.auteurs (deze kan je via auteurCtrl.auteurs oproepen in de HTML)
            vm.auteurs = response.data;
        }).catch(function(err){
            alert('Error: er is een fout opgetreden ' + err);
        })
    }
</script>

</body>
</html>