<!doctype html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>Boeken</title>

	<!-- Bootstrap en AngularJS staan op deze locatie door 'bower install' te doen. -->
	<link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<script src="js/lib/angular/angular.min.js"></script>

</head>
<body ng-app="myApp">
<div class="container" ng-controller="boekController as boekCtrl">
	<h1>Boeken</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th><th>Titel</th><th>auteur</th><th>ISBN</th>
		</tr>
		<tr ng-repeat="boek in boekCtrl.boeken">
			<td>{{ boek.id }}</td>
			<td>{{ boek.titel }}</td>
			<td>{{ boek.auteur }}</td>
			<td>{{ boek.ISBN }}</td>
		</tr>
	</table>
	<p>
		<a ng-href="index.html">Startpagina</a>
	</p>
</div>

<!-- Custom Scripts -->
<script>
    // Op het examen moeten module, controller, factory en constanten in aparte mappen (zoals in H5).
    // Om in één oogopslag te zien wat er zich afspeelt, staat het in één bestand.

    angular.module('myApp',[]);

    angular.module('myApp')
        .controller('boekController', boekController);

    function boekController($http){
        var vm = this;
        var urlVanBoeken = 'http://localhost:3000/api/boeken';

        // Doe een GET met de API-call voor boeken als URL
        $http({
            method:'get',
            url: urlVanBoeken
        }).then(function(response){
            // Sla het resultaat op in vm.boeken (deze kan je via boekCtrl.boeken oproepen in de HTML)
            vm.boeken = response.data;
        }).catch(function(err){
            alert('Error: er is een fout opgetreden ' + err);
        })
    }
</script>
</body>
</html>