<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="test/html; charset=utf-8" />
    <title>Master-Detail views</title>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="autowebapp/css/autoweb.css" rel="stylesheet" type="text/css" />

    <!-- ***************-->
    <!-- Vendor scripts -->
    <!-- ***************-->
    <script src="../js/vendor/angular/angular.js"></script>
    <script src="../js/vendor/angular-route/angular-route.js"></script>




</head>
<body>
<center>

    <div id="container">
        <div id="header"></div>
        <div id="middle">
            <div id="leftmiddle" ng-view>
                <br/>
                <br/>
            </div>
        </div>

        <div id="footer">
            <table width="50%">
                <th><a ng-href="#/home">Home</a> </th>
                <th><a ng-href="#/partners">Mercedes Partners</a> </th>
            </table>

            <div ng-controller="globalsController as gC" style="color: red;">
                <p>{{ gC.appName }}</p>
                <p>{{ gC.appVersion }}</p>
            </div>

        </div>
    </div>

</center>




<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script src="app/H6_oef1/app.js"></script>
<script src="controllers/H6_oef1/homeController.js"></script>
<script src="controllers/H6_oef1/detailController.js"></script>
<script src="controllers/H6_oef1/partnersController.js"></script>
<script src="controllers/H6_oef1/addController.js"></script>
<script src="services/H6_oef1/carFactory.js"></script>

<!--<script src="modules/H5_oef2/appConstants.js"></script>-->
<script src="controllers/H6_oef1/globalsController.js"></script>

</body>
</html>
