<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>$http-calls chaining met .then()</title>
	<link href="../css/bootstrap.css" rel="stylesheet"/>
	<style>
		.moviePoster {
			float: left;
			height: 200px;
			padding-right: 10px;
		}
	</style>


</head>
<body>

<div class="container" ng-controller="myController as myCtrl">
	<h1>Filmgegevens ophalen via de Open Movie Database</h1>

	<p>
		<input type="text" class="input-lg"
			   ng-model="myCtrl.movieTitle" placeholder="Titel van film..."/>
		<button class="btn btn-success" ng-click="myCtrl.getMovie()">Zoek film</button>
	</p>
	<!-- 1. Gevonden film -->
	<div class="jumbotron" ng-show="myCtrl.showMovie">
		<img ng-src="{{ myCtrl.movie.Poster }}" class="moviePoster"/>

		<h1>{{ myCtrl.movie.Title }}</h1>

		<h2>Uitgekomen op {{ myCtrl.movie.Released}}</h2>

		<p>{{ myCtrl.movie.Plot }}</p>
	</div>
	<!-- TODO: Error handling -->
</div>


<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>

<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->
<script>
	// Alle code in een bestand. Normaal gesproken zou u dit
	// verspreiden over verschillende bestanden en mappen.

	// 1. Module maken.
	angular.module('myApp', []);

	// 2. Controller, factory en globals maken
	angular.module('myApp')
			.controller('myController', myController)
			.service('movieService', movieService)
			.constant('GLOBALS', {
				urlMovieByTitle: 'http://www.omdbapi.com/?t=', // Zie http://www.omdbapi.com/
				urlrelatedMovies: 'http://www.omdbapi.com/?s='
			});

	// 3. Controller implementeren
	myController.$inject = ['movieService'];
	function myController(movieService) {
		var vm = this;
		vm.showMovie = false;
		vm.showRelated = false;

		vm.getMovie = function () {
			movieService.getMovie(vm.movieTitle)
					.then(function (movie) { // 1e call
						vm.movie = movie.data;
						vm.showMovie = true;
					});
		};
	}

	// 4. Service implementeren, let op injectie van $http en GLOBALS
	movieService.$inject = ['$http', 'GLOBALS'];
	function movieService($http, GLOBALS) {
		// Haalt 1 film op (de 'topper')
		this.getMovie = function (movieTitle) {
			return $http({
				url: GLOBALS.urlMovieByTitle + movieTitle,
				method: 'GET'
			});
		};
	}
</script>
</body>
</html>
